.footer-features {
    flex-wrap: nowrap;
}
.footer-features--item {
    width: 20%;
    flex: 0 0 20%;
    padding: 1rem;
    position: relative;
    text-align: center;
}
.footer-features--counter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50);
    font-family: @headingfont;
    color: @primary-color;
    opacity: 0.08;
    font-size: 100px;
    letter-spacing: -0.05em;
    z-index: 1;
}
.footer-features--item i,
.footer-features--item svg{
    color: @secondary-color;
    display: inline-block;
    margin: 6px auto;
    text-align: center;
    position: relative;
    z-index: 2;
}
.footer-features--item h4{
    font-family: @headingfont;
    font-size:18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
    flex-wrap: nowrap;    
}
.footer-features--item {
    padding: 1rem;
    position: relative;
    width: 20%;
    flex: 0 0 20%;
}
.footer-features--item span {
    position: absolute;
    font-family: Barlow Semi Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    text-align: center;
    letter-spacing: -0.02em;
    color: @secondary-color;
    opacity: 0.08;
}
