<<<<<<< HEAD
/**
 * custom theme 2020-07-07 15:50:09 */

#newsletter_pop_up{
width: 460px;height: 806px;}
#newsletter_pop_up .newsletter-popup-has-background{ 
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/newsletter/background/default/bg_newsellter.png);}
.blog-custom-wrapper{        
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/blog/bannerbackground/default/img-blog1_1.jpg); padding: 27vh 0; color: #fff; margin-bottom: 100px; max-height: 600px; background-repeat: no-repeat; background-size: cover;}
.contact-index-index .page-title-wrapper{       
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/contactusbackground/default/Contact1.jpg); padding: 27vh 0; color: #fff; margin-bottom: 100px; max-height: 600px; background-repeat: no-repeat; background-size: cover;}
.cms-about-us .page-title-wrapper{       
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/aboutbannerbackground/default/About-us1.jpg); padding: 27vh 0; color: #fff; margin-bottom: 100px; max-height: 600px; background-repeat: no-repeat; background-size: cover;} 
.background-module-product{        
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/backgroundproductmodule/stores/10/bg_product_module.jpg); padding: 90px 0 95px; color: #fff; background-repeat: no-repeat; background-size: cover;}
@media screen and ( max-width: 991px ){ 
	.contact-index-index .page-title-wrapper{ 
	padding: 10vh 0; margin-bottom: 50px;	}
	.blog-custom-wrapper{ 
		padding: 10vh 0; margin-bottom: 50px;	}
	.background-module-product{
		padding: 10vh 0;	}
	.cms-about-us .page-title-wrapper{   
		padding: 10vh 0; margin-bottom: 50px;	}
}	
.block-newsletter-form{       
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/newsletterformbackground/stores/10/bg-newsletter-home3.png); background-repeat: no-repeat; background-size: cover;}
body.cms-index-index{
	background-color:#FFFFFF !important;
}
=======
/**
 * custom theme 2020-07-07 15:50:09 */

#newsletter_pop_up{
width: 460px;height: 806px;}
#newsletter_pop_up .newsletter-popup-has-background{ 
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/newsletter/background/default/bg_newsellter.png);}
.blog-custom-wrapper{        
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/blog/bannerbackground/default/img-blog1_1.jpg); padding: 27vh 0; color: #fff; margin-bottom: 100px; max-height: 600px; background-repeat: no-repeat; background-size: cover;}
.contact-index-index .page-title-wrapper{       
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/contactusbackground/default/Contact1.jpg); padding: 27vh 0; color: #fff; margin-bottom: 100px; max-height: 600px; background-repeat: no-repeat; background-size: cover;}
.cms-about-us .page-title-wrapper{       
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/aboutbannerbackground/default/About-us1.jpg); padding: 27vh 0; color: #fff; margin-bottom: 100px; max-height: 600px; background-repeat: no-repeat; background-size: cover;} 
.background-module-product{        
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/backgroundproductmodule/stores/10/bg_product_module.jpg); padding: 90px 0 95px; color: #fff; background-repeat: no-repeat; background-size: cover;}
@media screen and ( max-width: 991px ){ 
	.contact-index-index .page-title-wrapper{ 
	padding: 10vh 0; margin-bottom: 50px;	}
	.blog-custom-wrapper{ 
		padding: 10vh 0; margin-bottom: 50px;	}
	.background-module-product{
		padding: 10vh 0;	}
	.cms-about-us .page-title-wrapper{   
		padding: 10vh 0; margin-bottom: 50px;	}
}	
.block-newsletter-form{       
	background-image: url(http://blueskytechmage.com/gota/pub/media/rokanthemes/newsletterformbackground/stores/10/bg-newsletter-home3.png); background-repeat: no-repeat; background-size: cover;}
body.cms-index-index{
	background-color:#FFFFFF !important;
}
>>>>>>> develop_
