/**
 * custom theme 2019-07-01 09:43:15 */

#newsletter_pop_up{
width: 1030px;height: 620px;background-color: #FFFFFF;}
#newsletter_pop_up .col-img{
	height: 100%;
	background-image: url(http://labbluesky.com/magento/mazia/pub/media/rokanthemes/newsletter/background/stores/14/background1.png);}
