:root {
	--main-bg-color: brown;
	--primary-color: rgba(0,175,255,1);
	--secondary-color: rgba(66,90,214,1);
	--blue-light: rgba(116,181,228,1);
	--alert-success: rgba(43,185,169,1);
	--dark-gray: rgba(29,35,41,1);
	--gray: rgba(95,94,110,1);
	--gray-light: rgba(188,193,200,1);
	--gray-01: rgba(210,210,215,1);
	--gray-00: rgba(242,242,248,1);
    --headingfont: 'Barlow Semi Condensed', sans-serif;
    --bdf:  'Futura Std', sans-serif;
}
.fa, .fab, .fad, .fal, .far, .fas {
    vertical-align: middle;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.justify-content-center {
    justify-content: center!important;
}
/*
// SECTIONS - BS_GOTA_3
*/
.padding-regular {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.bg-gray-light,
.bg-light-gray {
    background-color: var(--gray-light);
}

/*
// HOME
*/
.block-widget-rokanthemes-brand .owl-theme .owl-controls .owl-page {
    padding: 12px 0;
    flex: 0 0 auto;
}
.block-widget-rokanthemes-brand .owl-theme .owl-pagination {
    left: auto;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
}

.box-blog .block-content .post-info .post-tags-info {
    background-color: var(--primary-color);
}
@media (min-width: 1200px) {
    .box-blog .grid-layout .blog-item:first-child .item-blog .blog-content:after {
        background: linear-gradient(rgba(43,185,169,0) 0%, var(--primary-color) 100%);
        opacity: 0.9;
    }
}

/* 
// PORTADA
*/
.hero.hero--home {
    position: relative; 
    padding: 120px 0; 
    min-height: 400px; 
    width: 100%; 
    background-image: url(/assets/images/fotos/hero--background.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    align-items: center;
}
.hero--overlay {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    background: rgba(0,0,20,.5); 
    background: linear-gradient(180deg, rgba(29, 35, 41, 0.5) 0%, rgba(29, 35, 41, 0) 100%), rgba(29, 35, 41, 0.65);
    z-index: 1;
}
.block.block-search {
    width: 100%; float: none;
}
.hero--home .block.block-search {
    position: relative;
    z-index: 2;
}
.hero-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.hero-title h1 {
    font-size: 42px;
    font-weight: 600;
    color: #fff;
}
.hero-title h1 span {
    background: linear-gradient(0deg, var(--primary-color) 30%, transparent 0%);
}
.hero-title h2 {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    margin: 12px auto;
}
.hero-title h2 .blue {
    color: var(--primary-color);
}

.minisearch {
    margin-top:60px;
    display: flex; width: 100%; justify-content: center;
}
.field-by-cat-search {
    display: inline-flex; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 

    width: 100%; 
    background: #efeff1; 
    border-radius: 4px; 
    padding: 15px 0;
}
.field-by-cat-search select {
    height: 62px;
    padding: 12px 24px 12px 0;
    margin-bottom: -12px;
    border: none;
    background-color: transparent;
    background-image: url(/assets/images/select-arrow.png); 
    background-repeat: no-repeat; 
    background-position: center right; 
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.field-by-cat-search ._label {
    position: relative;
    width: 26.6666%;
    flex: 0 0 calc(25% - 48px);
    margin: 0 15px;
}
.field-by-cat-search ._label::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    right: -15px;
    top: 0;
    background: #D2D2D7;
}
.field-by-cat-search ._label:last-of-type::after {
    content: none;
}

.header-container .nav-toggle.nav-toggle--sm {
    border: 1px solid rgba(95,94,110,0.25);
    width: 42px;
    height: 42px;
    margin-right: 12px;
    border-radius: 3px;
}
.header-container .nav-toggle.nav-toggle--sm:before {
    line-height: 42px;
    -moz-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}
.header-container.layout3 .header .col-logo .nav-toggle {
    display: none!important;
}

.field-by-cat-search ._label span {
    color: var(--primary-color);    
    font-family: var(--headingfont);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.08em;
    margin-bottom: -12px;
    display: block;
}

.field-by-cat-search .search {
    font-size: 16px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;

    -moz-transition: 250ms background-color ease-in-out;
    -webkit-transition: 250ms background-color ease-in-out;
    transition: 250ms background-color ease-in-out;

    width: 60px;
}
.field-by-cat-search .search:hover {
    background-color: var(--alert-success);
}
.field-by-cat-search .search .txt-sm {
    display: none;
    visibility: hidden;
}

.home-features {
    margin: 30px auto; 
    width: 100%; 
    margin-top: 120px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    justify-content: space-between;
}
.card-home-features {
    width: 30%; 
    padding: 24px; 
    border: 1px solid rgba(188,193,200,0.5); 
    border-radius: 3px; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 

    flex-wrap: nowrap;
}

.card-home-features .card-icon {
    align-self: center;
    width: 75px; 
    flex: 0 0 75px;
    color:#fff;
}
.card-home-features .card-icon svg {
    margin: auto;
    display: block;
}
.card-home-features .card-body {
    width: calc(100% - 75px);
    flex: calc(100% - 75px);
    color:#fff;
    padding-left: 24px;
}
.card-home-features .card-body h3 {
    color: var(--primary-color);
    font-family: var(--headingfont);
    font-weight: 700;
    font-size: 21px;
    letter-spacing: -0.02em;
    text-transform:uppercase;
    margin-bottom: 0;
}
.card-home-features .card-body p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
}
.card-home-features .card-body p:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 880px) {
    .field-by-cat-search {
        padding: 15px;
        flex-wrap: wrap;
    }
    .field-by-cat-search ._label {
        margin: 0;
        margin-bottom: 8px;
        width: 100%;
        flex: 0 0 100%;
    }
    .field-by-cat-search ._label::after {
        width: 100%;
        height: 1px;
        right: auto;
        top: auto;
    }
    .field-by-cat-search .search {
        display: flex;
        justify-content: space-between;
    }
    .field-by-cat-search .search .txt-sm {
        display: inline-block;
        visibility: visible;
    }
    .card-home-features {
        width: 100%;
        flex: 0 0 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .home-features {
        flex-wrap: wrap;
    }
    .footer-features {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-features--item {
        width: 33%;
        flex: 0 0 33%;
    }
}
@media (max-width: 1200px) {
    .header-container.layout3 .minicart-wrapper .action.showcart {
        padding: 11px 15px;
    }
}


/*
// HEADER 
*/
.header-container .topbar.text-center {
    display: none;
    visibility: hidden;
}
.header-top-setting .register-login a {
    font-family: var(--headingfont);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gray);
    display: inline-block;
    padding: 12px;
}
.header-top-setting .register-login a i {
    margin-right: 6px;
}
@media (min-width: 992px) {
    .header-container.layout3 .header .col-logo {
        flex: 0 0 18.5%;
    }
}
@media (min-width: 1400px) {
    .header-container.layout3 .header-right .header-top-setting {
        padding: 0 16px 0 45px;
    }
}
.header-container.layout3 .header-menu .flex-layout .holine span, .header-container.layout3 .header-menu .flex-layout .holine i {
    color: var(--dark-gray);
}
.sFilter {
    width: 100%;
    padding: 15px 0;
    background-color: var(--gray-00);
    display: block;
    position: relative;
}
.header-container.layout3 .header .block-search {
    width: 100%;
    max-width: 100%;
}
.header-container.layout3 .header .block-search .form.minisearch {
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.header-container.layout3 .header .block-search #search_mini_form.form.minisearch {
    padding: 0!important
}
.header-container .header .block-search .block-content .dropdown .field-by-cat-search {
    float: none;
    width: calc(100% - 60px);
    flex: 0 0 calc(100% - 60px);
    flex-wrap: nowrap;
    padding: 0;
    background-color: transparent;
}
.header-container .header .block-search .block-content .dropdown label {
    display: block;
    color: var(--primary-color);
    font-family: var(--headingfont);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.08em;
    display: block;
}
.header-container .header .block-search .block-content .dropdown .form-group {
    margin-bottom: 0;
    margin-bottom: 0;
    width: 33.333%;
    flex: 0 0 25%;
    padding: 0 15px;

    position: relative;
}
.header-container .header .block-search .block-content .dropdown .form-group:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    right: 3px;
    top: 0;
    background: #D2D2D7;
}
.header-container .header .block-search .block-content .dropdown .form-group:nth-child(4):after {
    content: none;
}
.form.minisearch.dropdown-menu.search-content .field-by-cat-search .chosen-container {
    width: 100%!important;
    background-color: transparent;
    background-image: url(/assets/images/select-arrow.png); 
    background-repeat: no-repeat; 
    background-position: center right; 
}
.block-search .block-content .field-by-cat-search .chosen-container .chosen-single:after {
    content: none;
}
.form.minisearch.dropdown-menu.search-content .field-by-cat-search .chosen-container .chosen-single > div {
    display: none;
}
.header-container .header .block-search .block-content .dropdown .action.search {
    font-size: 16px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;

    -moz-transition: 250ms background-color ease-in-out;
    -webkit-transition: 250ms background-color ease-in-out;
    transition: 250ms background-color ease-in-out;

    width: 60px;
    height: 60px;
}
.header-container .header .block-search .block-content .dropdown .action.search:hover {
    background-color: var(--alert-success);
}
.header-container .header .block-search .block-content .dropdown .action.search:after {
    content: none;
    display: none;
}
.filter-wrapper {
    color: var(--gray);
    font-family: var(--headingfont);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.08em;
    display: block;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    justify-content: flex-end;
}
.filter-wrapper a {
    padding: 12px 0;
    display: none;
}
.filter-icon {

    width: 36px;
    height: auto;
    
    color: var(--primary-color);
    
    text-align: center;
    font-size: 18px;
    border-radius: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;

    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.filter-icon:before {
    content: "\e9d0";
}
@media (max-width: 880px) {
    .filter-wrapper a {
        display: block;
    }
    .block-search--header {
        display: none;
    }
}
@media (min-width: 992px) {
    .header-container.layout3 .header .block-search .form.minisearch {
        background: transparent;
        padding: 0 10px 0 20px;
    }
}

@media (max-width: 991px) {
    .header-container.layout3 .header-menu .flex-layout {
        /* align-items: center; */
        /* justify-content: space-around; */
        width: 100%;
        justify-content: normal;
    }
}

.bg-gray-00 {
    background-color: var(--gray-00);
}
body .wave {
    background: var(--gray-00);
}
/*
// PRODUCTS
*/
body .product-item .product-photo .product-image-photo, body .product-list-item .product-photo .product-image-photo {
    height: auto;
}
.product-social-links .towishlist,
.product-social-links .action.tocompare {
    display: none;
    visibility: hidden;
}
.product-item .product-reviews-summary.no-rating {
    display: none;
    visibility: hidden;
}
/* stripe buttons buy */
.payment-request-button.action.tocart.StripeElement {
    display: none;
    visibility: hidden;
}
.fotorama__stage__shaft {
    width: 100%!important;
    max-width: 100%!important;   
}
.fotorama__stage {
    left: 0!important;
}

.products-grid .product-item:hover .product-photo a.photo:after {
    content: none;
    opacity: 0;
    visibility: hidden;
}
.products-grid .add-to-links {
    display: none!important;
    visibility: hidden;
}
.catalog-category-view .block-content.filter-content,
.catalog-category-view .block.block-wishlist,
.catalog-category-view .block.block-compare {
    display: none!important;
    visibility: hidden;
}

.checkout-index-index .page-title-wrapper h1 span, .page-title-wrapper h1 span {
    font-size: 36px;
}
body .product-item .onsale {
    display: none!important;
}
body .product-item .product-photo .add-to-links, body .product-list-item .product-photo .add-to-links {
    display: none!important;
    visibility: hidden;
}
.product-view .product-info-main .price-box .price-wrapper .price,
body .product-item .product-info .price-box .price, 
body .product-list-item .product-info .price-box .price,
.product-view .product-info-main .price-box .special-price .price-container .price {
    color: var(--alert-success);
}
.products-grid .product-item:hover .product-photo a.product-thumb-link:after, .owl-wrapper-outer .product-item:hover .product-photo a.product-thumb-link:after, .products-grid .product-item:hover .product-photo a.photo:after, .owl-wrapper-outer .product-item:hover .product-photo a.photo:after {
    opacity: 0;
    visibility: hidden;
}
.catalog-product-view .block.related .field.related .label {
    background-color: var(--alert-success);
}
.catalog-product-view .columns .column.main {
    position: relative;
}
.catalog-product-view .columns .column.main .mejor-precio--icon {
    position: absolute;
    top: -16px;
    left: 0;
    width: 82px;
}
.catalog-product-view .columns .column.main .mejor-precio--icon svg {
    width: 100%;
}
.catalog-product-view .columns .column.main .mejor-precio--icon svg #circle{
    -moz-animation: rotate-animation 10s infinite linear;
    -webkit-animation: rotate-animation 10s infinite linear;
    animation: rotate-animation 10s infinite linear;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
@-moz-keyframes rotate-animation{0%{-moz-transform:rotate(0)}50%{-moz-transform:rotate(180deg)}100%{-moz-transform:rotate(360deg)}}@-webkit-keyframes rotate-animation{0%{-webkit-transform:rotate(0)}50%{-webkit-transform:rotate(180deg)}100%{-webkit-transform:rotate(360deg)}}@keyframes rotate-animation{0%{transform:rotate(0)}50%{transform:rotate(180deg)}100%{transform:rotate(360deg)}}
/*
// TALLERES
*/
.storelocator-store-view .page-title-wrapper {
    padding: 32px 0;
}
.storelocator-store-view h1.page-title {
    display: block !important;
    font-size: 14px;
    margin: 0;
}
.storelocator-store-view .page-title-wrapper h1 span {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--gray);
    font-weight: 600;
}
.card-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
}
.card-store .image {
    width: 33%;
    flex:0 0 33%;
}
.card-store .image img{
    max-width: 100%;
    height: auto;
    display: block;
}
.card-store .location-information {
    padding-left: 15px;
    width: 66%;
    flex:0 0 66%;
}
#locator_filter .column_left .center #store_list .list .today_time:before {
    content: none!important;
}
#locator_filter-store .column_left #store_list_view .today_time:before {
    content: none!important;
}
.storelocator-store-view #locator_filter-store .column_left #store_list_view .today_time,
.storelocator-index-index #locator_filter .column_left .center #store_list .list .today_time {
    background: transparent;
    color: var(--gray);
    border: 1px solid var(--gray-01);
    border-radius: 3px;
}
.storelocator-store-view #locator_filter-store .column_left #store_list_view .today_time i.far,
.storelocator-index-index #locator_filter .column_left .center #store_list .list .today_time i.far {
    display: inline-block;
    margin-right: 8px;
}
.storelocator-store-view #locator_filter-store .column_left #store_list_view .today_time .locator_arrow,
.storelocator-index-index #locator_filter .column_left .center #store_list .list .today_time .locator_arrow {
    margin-top: 0;
}

#locator_filter .column_left .center #store_list .list .location-information .view-detail a {
    border: none;
    border-radius: 3px;
    font-weight: 600;
}

#locator_filter-store .column_left #store_list_view .map-directions {
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 0;
}
#locator_filter-store .column_left #store_list_view .location-information div.map-directions a {
    padding: 12px;
    border-radius: 3px;
    font-size: 13px;
    font-family: var(--headingfont);
    font-weight: 600;
    margin: 0;
    background-color: var(--gray);
}
#locator_filter-store .column_left #store_list_view .location-information .btn.btn-primary {
    margin-top: 24px;
    margin-bottom: 24px;
}
.storelocator-index-index #locator_filter .column_left .center {
    height: auto;
    max-height: 100%;
}

.btn.btn-primary {
    background: var(--alert-success);
    border: none;
    border-radius: 3px;
    padding: 16px 42px;

    font-family: var(--headingfont);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.action.primary,
.action.primary.tocart,
.action.submit.primary {
    border-radius: 3px;
}

/*
// CONTACT
*/
.contact-index-index .static_content .block-static-block .col-content .border-col {
    padding: 24px;
}
.border-col.card-contact {
    flex-wrap: nowrap;
}
.border-col.card-contact .card-body {
    align-self: center;
    padding-left: 16px;
}
.contact-index-index .static_content .block-static-block .col-content .border-col h4,
.border-col.card-contact h4 {
    margin: 0;
    margin-bottom: 8px;
}


/*
// FOOTER
*/
.footer-features {
    flex-wrap: nowrap;
}

.footer-features--item {
    width: 20%;
    flex: 0 0 20%;
    padding: 1rem;
    position: relative;
    text-align: center;
}
.footer-features--item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 32px;
    height: 3px;
    background-color:var(--secondary-color);
}
.footer-features--counter {
    position: absolute;
    top: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--headingfont);
    color: var(--secondary-color);
    opacity: 0.08;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1;
    z-index: 1;
}
.footer-features--item i,
.footer-features--item svg {
    font-size: 24px;
    color: var(--secondary-color);
    display: inline-block;
    margin: 6px auto;
    text-align: center;
    position: relative;
    z-index: 2;
}
.footer-features--item h4{
    color: var(--dark-gray);
    font-family: var(--headingfont);
    font-size:18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.features-store {
    flex-wrap: nowrap;
}
.features-store--item {
    width: 50%;
    flex: 0 0 50%;
    padding: 1rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
}
.features-store--icon {
    width: 42px;
    flex: 0 0 42px;
}
.features-store--body {
    width: calc(100% - 42px);
    flex: 0 0 calc(100% - 42px);
    padding-left: 15px;
}
.features-store--body h4 {
    font-size: 1rem;
}
.page-footer {
    background-color: var(--dark-gray);
}

.page-footer .layout3 .footer-static-container .footer_introduce img {
    max-width: 146px;
}
.page-footer .footer-newsletter {
    border: none;
}
.page-footer .footer-static-container .footer-links h2 {
    text-align: left;
}

.page-footer .layout3 .footer-menu ul {
    display: block;
}
.page-footer .layout3 .footer-static-container {
    grid-template-columns: 50% 25% 25%;
}
.page-footer .layout3 .footer-static-container .footer-social-text:before {
    content: none!important;
}
.page-footer .footer-static-container .footer-links ul.social-media {
    display: block;
    margin-top: 24px;
}
.page-footer .footer-static-container .footer-links ul.social-media li {
    display: inline-block;
}
.page-footer .footer-static-container .footer-links ul.social-media li a {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
} 
.page-footer .footer-static-container .footer-links ul.social-media li a:hover {
    padding-left: 0;
}
.page-footer .footer-static-container .footer-social-text ul li a {
    color: inherit;
}