:root {
	--main-bg-color: brown;
	--primary-color: rgba(0,175,255,1);
	--secondary-color: rgba(66,90,214,1);
	--blue-light: rgba(116,181,228,1);
	--alert-success: rgba(43,185,169,1);
	--dark-gray: rgba(29,35,41,1);
	--gray: rgba(95,94,110,1);
	--gray-light: rgba(188,193,200,1);
	--gray-01: rgba(210,210,215,1);
	--gray-00: rgba(242,242,248,1);
    --headingfont: 'Barlow Semi Condensed', sans-serif;
    --bdf:  'Futura Std', sans-serif;
}
.fa, .fab, .fad, .fal, .far, .fas {
    vertical-align: middle;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.justify-content-center {
    justify-content: center!important;
}
/*
// SECTIONS - BS_GOTA_3
*/
.padding-regular {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.bg-gray-light,
.bg-light-gray {
    background-color: var(--gray-light);
}

/*
// HOME
*/
.block-widget-rokanthemes-brand .owl-theme .owl-controls .owl-page {
    padding: 12px 0;
    flex: 0 0 auto;
}
.block-widget-rokanthemes-brand .owl-theme .owl-pagination {
    left: auto;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
}

/*
// FOOTER
*/
.footer-features {
    flex-wrap: nowrap;
}

.footer-features--item {
    width: 20%;
    flex: 0 0 20%;
    padding: 1rem;
    position: relative;
    text-align: center;
}
.footer-features--item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 32px;
    height: 3px;
    background-color:var(--secondary-color);
}
.footer-features--counter {
    position: absolute;
    top: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--headingfont);
    color: var(--secondary-color);
    opacity: 0.08;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1;
    z-index: 1;
}
.footer-features--item i,
.footer-features--item svg {
    font-size: 24px;
    color: var(--secondary-color);
    display: inline-block;
    margin: 6px auto;
    text-align: center;
    position: relative;
    z-index: 2;
}
.footer-features--item h4{
    color: var(--dark-gray);
    font-family: var(--headingfont);
    font-size:18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.features-store {
    flex-wrap: nowrap;
}
.features-store--item {
    width: 50%;
    flex: 0 0 50%;
    padding: 1rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
}
.features-store--icon {
    width: 42px;
    flex: 0 0 42px;
}
.features-store--body {
    width: calc(100% - 42px);
    flex: 0 0 calc(100% - 42px);
    padding-left: 15px;
}

.page-footer {
    background-color: var(--dark-gray);
}
.page-footer .footer-static-container .footer-links h2 {
    text-align: left;
}

.page-footer .layout3 .footer-menu ul {
    display: block;
}
.page-footer .layout3 .footer-static-container {
    grid-template-columns: 50% 25% 25%;
}
.page-footer .layout3 .footer-static-container .footer-social-text:before {
    content: none!important;
}
.page-footer .footer-static-container .footer-links ul.social-media {
    display: block;
    margin-top: 24px;
}
.page-footer .footer-static-container .footer-links ul.social-media li {
    display: inline-block;
}
.page-footer .footer-static-container .footer-links ul.social-media li a {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: #fff;
} 
.page-footer .footer-static-container .footer-links ul.social-media li a:hover {
    padding-left: 0;
}
.page-footer .footer-static-container .footer-social-text ul li a {
    color: inherit;
}